

@layer properties;
.relative {
  position: relative;
}

.z-10 {
  z-index: 10;
}
.container {
  width: 100%;
}
.flex {
  display: flex;
}
.cursor-pointer {
  cursor: pointer;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.overflow-hidden {
  overflow: hidden;
}
.stroke-current {
  stroke: currentcolor;
}
.duration-500 {
  --tw-duration: 500ms;
  transition-duration: 500ms;
}
.group-hover\:duration-500 {
  &:is(:where(.group):hover *) {
    @media (hover: hover) {
      --tw-duration: 500ms;
      transition-duration: 500ms;
    }
  }
}
.before\:absolute {
  &::before {
    content: var(--tw-content);
    position: absolute;
  }
}
.before\:-z-10 {
  &::before {
    content: var(--tw-content);
    z-index: calc(10 * -1);
  }
}
.before\:rounded-full {
  &::before {
    content: var(--tw-content);
    border-radius: calc(infinity * 1px);
  }
}
.before\:duration-500 {
  &::before {
    content: var(--tw-content);
    --tw-duration: 500ms;
    transition-duration: 500ms;
  }
}
.after\:absolute {
  &::after {
    content: var(--tw-content);
    position: absolute;
  }
}
.after\:-z-10 {
  &::after {
    content: var(--tw-content);
    z-index: calc(10 * -1);
  }
}
.after\:rounded-full {
  &::after {
    content: var(--tw-content);
    border-radius: calc(infinity * 1px);
  }
}
.after\:duration-500 {
  &::after {
    content: var(--tw-content);
    --tw-duration: 500ms;
    transition-duration: 500ms;
  }
}
.hover\:skew-x-6 {
  &:hover {
    @media (hover: hover) {
      --tw-skew-x: skewX(6deg);
      transform: var(--tw-rotate-x,) var(--tw-rotate-y,) var(--tw-rotate-z,) var(--tw-skew-x,) var(--tw-skew-y,);
    }
  }
}
.hover\:-skew-y-6 {
  &:hover {
    @media (hover: hover) {
      --tw-skew-y: skewY(calc(6deg * -1));
      transform: var(--tw-rotate-x,) var(--tw-rotate-y,) var(--tw-rotate-z,) var(--tw-skew-x,) var(--tw-skew-y,);
    }
  }
}
.hover\:duration-500 {
  &:hover {
    @media (hover: hover) {
      --tw-duration: 500ms;
      transition-duration: 500ms;
    }
  }
}
@property --tw-duration {
  syntax: "*";
  inherits: false;
}
@property --tw-content {
  syntax: "*";
  initial-value: "";
  inherits: false;
}
@property --tw-rotate-x {
  syntax: "*";
  inherits: false;
}
@property --tw-rotate-y {
  syntax: "*";
  inherits: false;
}
@property --tw-rotate-z {
  syntax: "*";
  inherits: false;
}
@property --tw-skew-x {
  syntax: "*";
  inherits: false;
}
@property --tw-skew-y {
  syntax: "*";
  inherits: false;
}
@layer properties {
  @supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))) {
    *, ::before, ::after, ::backdrop {
      --tw-duration: initial;
      --tw-content: "";
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
    }
  }
}
